<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bengkel Sahabat Motor</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<!-- Navbar -->
<div class="container">
    <nav class="navbar">
        <div class="logo">
            <img src="/images/logo_bengkel4.png" alt="Logo Bengkel" />
        </div>
        <div class="navbar-text">
            <span>Bengkel Sahabat Motor</span>
        </div>
    </nav>

    <!-- Dashboard Container -->
    <main class="main-content">
        <div class="dashboard-container">
            <div class="card">
                <img src="/images/logo_customer.png" alt="Customer">
                <h2>Manajemen Pelanggan</h2>
                <p>Kelola data pelanggan dengan mudah.</p>
                <a href="/customer/all">Lihat Detail</a>
            </div>
            <div class="card">
                <img src="/images/logo_mekanik.png" alt="Mekanik">
                <h2>Mekanik</h2>
                <p>Lihat informasi lengkap tentang mekanik.</p>
                <a href="/mekanik/all">Lihat Detail</a>
            </div>
            <div class="card">
                <img src="/images/logo_penjualan.png" alt="Produk">
                <h2>Penjualan Produk</h2>
                <p>Kelola dan pantau penjualan produk.</p>
                <a href="/penjualan/all">Lihat Detail</a>
            </div>
            <div class="card">
                <img src="/images/logo_service.png" alt="Service">
                <h2>Service</h2>
                <p>Cek dan kelola layanan service kendaraan.</p>
                <a href="/service">Lihat Detail</a>
            </div>
        </div>
    </main>


    <!-- Footer -->
    <div class="footer">
        <p>&copy; 2024 Bengkel Sahabat Motor. All rights reserved.</p>
    </div>
</div>

</body>
</html>