<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bengkel Service</title>
    <link rel="stylesheet" href="/css/styles2.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar">
    <div class="logo">
        <img src="/images/logo_bengkel4.png" alt="Logo Bengkel" />
        <div class="navbar-text">Bengkel Sahabat Motor</div>
    </div>
</nav>

<div class="container">
    <main class="main-content">
        <div class="dashboard-container">
            <h1 class="mt-5">Data Layanan Sahabat Motor</h1>

            <!-- Form pencarian -->
            <div class="d-flex justify-content-between mb-3">
                <form action="/layanan/search" method="get" class="form-inline mb-3">
                    <label>
                        <input type="text" name="searchQuery" class="form-control mr-2" placeholder="Search by name" />
                    </label>
                    <button type="submit" class="btn btn-primary">Search</button>
                    <button type="button" id="resetButton" class="btn btn-secondary ml-2">Reset</button>
                </form>

                <button type="button" id="homeButton" class="btn btn-primary" onclick="window.location.href='/'">Kembali ke Dashboard</button>
            </div>

            <!-- Form Input/Edit Layanan -->
            <h2 class="mt-4">Tambah/Edit Layanan</h2>
            <!-- Pilih Jenis Layanan -->
            <form id="submitForm" method="POST" action="/layanan/save">
                <input type="hidden" name="produkIds" id="produkIds">

                <!-- Pilihan Layanan -->
                <div class="mb-3">
                    <label for="layananType" class="form-label">Pilih Jenis Layanan</label>
                    <select id="layananType" name="layananType" class="form-control" required>
                        <option value="">-- Pilih Layanan --</option>
                        <option value="ringan">Layanan Ringan</option>
                        <option value="full">Layanan Full</option>
                    </select>
                </div>

                <!-- Form tambahan untuk layanan -->
                <div id="additionalLayanan"></div>

                <!-- Customer dropdown -->
                <div class="mb-3">
                    <label for="customerId" class="form-label">Pilih Customer</label>
                    <select id="customerId" name="customerId" class="form-control" required>
                        <option value="">-- Pilih Customer --</option>
                        <th:block th:each="customer : ${customerList}">
                            <option th:value="${customer.id}" th:text="${customer.nama}"></option>
                        </th:block>
                    </select>
                </div>

                <!-- Tambah Produk yang Dibeli -->
                <div class="form-group">
                    <label>Produk yang Dibeli</label>
                    <button type="button" id="addProduct" class="btn btn-success mb-3">+ Tambah Produk</button>
                    <div id="productList" class="mt-3"></div>
                </div>

                <!-- Tampilkan Total Harga -->
                <div class="mb-3">
                    <label class="form-label">Total Harga:</label>
                    <input type="text" id="totalPrice" class="form-control" readonly>
                </div>

                <!-- Input tanggal -->
                <div class="mb-3">
                    <label for="tanggal">Tanggal:</label>
                    <input type="date" id="tanggal" name="tanggal" required />
                </div>

                <button type="submit" class="btn btn-primary">Simpan</button>
            </form>

            <!-- Tabel Data Layanan -->
            <h2 class="mt-4">Data Layanan</h2>

            <div th:if="${#lists.isEmpty(layananList)}" class="alert alert-warning">
                <strong>Data layanan belum ada, silahkan tambahkan layanan terlebih dahulu!</strong>
            </div>

            <table class="table table-striped mt-3" th:if="${!#lists.isEmpty(layananList)}">
                <thead>
                <tr>
                    <th>Nama Customer</th>
                    <th>Jenis Layanan</th>
                    <th>Produk yang Dibeli</th>
                    <th>Mekanik</th>
                    <th>Total Biaya</th>
                    <th>Tanggal</th>
                    <!--- <th>Aksi</th> --->
                </tr>
                </thead>
                <tbody>
                <tr th:each="layanan : ${layananList}">
                    <td th:text="${layanan.customer.nama}"></td>
                    <td th:text="${layanan.jenisLayanan}"></td>
                    <td>
                    <span th:each="produkItem : ${layanan.layananProdukList}" th:text="${produkItem.produk.nama} + ' (' + ${produkItem.jumlah} + ')'"></span>
                    </td>
                    <td th:text="${layanan.customer.mekanik.nama != null ? layanan.customer.mekanik.nama : 'Belum Dipilih'}"></td>
                    <td th:text="${layanan.totalBiaya}"></td>
                    <td th:text="${layanan.tanggal}"></td>
                    <td>
                        <!--- <a th:href="@{/layanan/edit/{id}(id=${layanan.id})}" class="btn btn-warning btn-sm">Edit</a>
                        <a th:href="@{/layanan/delete/{id}(id=${layanan.id})}" class="btn btn-danger btn-sm" onclick="return confirm('Yakin ingin menghapus data ini?')">Delete</a> --->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>

<div class="footer">
    <p>&copy; 2024 Bengkel Sahabat Motor. All rights reserved.</p>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function() {
        // Ketika memilih jenis layanan
        $('#layananType').change(function() {
            var selectedLayanan = $(this).val();
            $('#additionalLayanan').empty(); // Kosongkan form tambahan sebelum diisi

            if (selectedLayanan === 'ringan') {
                var layanan = `
                    <div class="form-group">
                        <label for="layananDetail">Pilih Cakupan Servis Ringan (Pilih Satu)</label>
                        <div class="form-check">
                            <input type="radio" name="layananDetails[]" value="Pemasangan Aksesoris" class="form-check-input">
                            <label class="form-check-label">Pemasangan Aksesoris (Rp 100.000)</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" name="layananDetails[]" value="Pengecekan Kelistrikan" class="form-check-input">
                            <label class="form-check-label">Pengecekan Kelistrikan (Rp 150.000)</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" name="layananDetails[]" value="Pengecekan Transmisi" class="form-check-input">
                            <label class="form-check-label">Pengecekan Transmisi (Rp 200.000)</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" name="layananDetails[]" value="Pengecekan Rem" class="form-check-input">
                            <label class="form-check-label">Pengecekan Rem (Rp 120.000)</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" name="layananDetails[]" value="Pengecekan Mesin" class="form-check-input">
                            <label class="form-check-label">Pengecekan Mesin (Rp 250.000)</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" name="layananDetails[]" value="Perawatan Kendaraan" class="form-check-input">
                            <label class="form-check-label">Perawatan Kendaraan (Rp 300.000)</label>
                        </div>
                    </div>
                `;
                $('#additionalLayanan').append(layanan);
            } else if (selectedLayanan === 'full') {
                var layanan = `
                    <div class="form-group">
                        <label for="layananDetail">Pilih Cakupan Servis Full (Pilih Satu)</label>
                        <div class="form-check">
                            <input type="radio" name="layananDetails[]" value="Pengecekan & Perbaikan Kelistrikan" class="form-check-input">
                            <label class="form-check-label">Pengecekan & Perbaikan Kelistrikan (Rp 500.000)</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" name="layananDetails[]" value="Pengecekan & Perbaikan Transmisi" class="form-check-input">
                            <label class="form-check-label">Pengecekan & Perbaikan Transmisi (Rp 600.000)</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" name="layananDetails[]" value="Pengecekan & Perbaikan Sistem Pengereman" class="form-check-input">
                            <label class="form-check-label">Pengecekan & Perbaikan Sistem Pengereman (Rp 450.000)</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" name="layananDetails[]" value="Pengecekan & Perbaikan Mesin" class="form-check-input">
                            <label class="form-check-label">Pengecekan & Perbaikan Mesin (Rp 800.000)</label>
                        </div>
                    </div>
                `;
                $('#additionalLayanan').append(layanan);
            }
        });

        // Mengupdate total harga ketika memilih layanan
        $('form').on('change', 'input[name="layananDetails[]"]', function() {
            var totalPrice = 0;

            $('input[name="layananDetails[]"]:checked').each(function() {
                var servicePrice = 0;
                switch ($(this).val()) {
                    case "Pemasangan Aksesoris":
                        servicePrice = 100000;
                        break;
                    case "Pengecekan Kelistrikan":
                        servicePrice = 150000;
                        break;
                    case "Pengecekan Transmisi":
                        servicePrice = 200000;
                        break;
                    case "Pengecekan Rem":
                        servicePrice = 120000;
                        break;
                    case "Pengecekan Mesin":
                        servicePrice = 250000;
                        break;
                    case "Perawatan Kendaraan":
                        servicePrice = 300000;
                        break;
                    case "Pengecekan & Perbaikan Kelistrikan":
                        servicePrice = 500000;
                        break;
                    case "Pengecekan & Perbaikan Transmisi":
                        servicePrice = 600000;
                        break;
                    case "Pengecekan & Perbaikan Sistem Pengereman":
                        servicePrice = 450000;
                        break;
                    case "Pengecekan & Perbaikan Mesin":
                        servicePrice = 800000;
                        break;
                }
                totalPrice += servicePrice;
            });

            var formattedTotalPrice = new Intl.NumberFormat('id-ID', {
                style: 'currency',
                currency: 'IDR'
            }).format(totalPrice);

            $('#totalPrice').val(formattedTotalPrice);  // Update total price
        });
    });
</script>
<script>
    $(document).ready(function () {
        // Load customer dari server
        $.ajax({
            url: '/layanan/customers',
            method: 'GET',
            success: function (data) {
                let customerOptions = '<option value="" disabled selected>Pilih Customer</option>';
                data.forEach(customer => {
                    customerOptions += `<option value="${customer.id}">${customer.nama}</option>`;
                });
                $('#customerName').html(customerOptions);
            },
            error: function () {
                alert('Gagal memuat daftar customer.');
            }
        });

        // Load mekanik dari server
        $.ajax({
            url: '/layanan/mekaniks',
            method: 'GET',
            success: function (data) {
                let mekanikOptions = '<option value="" disabled selected>Pilih Mekanik</option>';
                data.forEach(mekanik => {
                    mekanikOptions += `<option value="${mekanik.id}">${mekanik.nama}</option>`;
                });
                $('#mekanik').html(mekanikOptions);
            },
            error: function () {
                alert('Gagal memuat daftar mekanik.');
            }
        });

            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#addProduct').on('click', function () {
            $('#productList').empty();
            $.ajax({
                url: '/layanan/produk/list',
                method: 'GET',
                success: function (data) {
                    if (data.length > 0) {
                        data.forEach(function (produk) {
                            $('#productList').append(`
                                <div class="d-flex align-items-center mb-3">
                                    <img src="/images/${produk.foto}" alt="${produk.nama}" class="img-thumbnail mr-2" style="width: 50px; height: 50px;">
                                    <div class="flex-grow-1">
                                        <strong>${produk.nama}</strong> <br>
                                        <small>Harga: Rp ${produk.harga.toLocaleString('id-ID')}</small>
                                    </div>
                                    <input type="number" class="produk-qty form-control ml-3" data-id="${produk.id}" min="1" max="${produk.stok}" placeholder="Jumlah">
                                </div>
                            `);
                        });
                    } else {
                        $('#productList').append('<p class="text-muted">Tidak ada produk yang tersedia.</p>');
                    }
                },
                error: function () {
                    alert('Gagal memuat daftar produk.');
                }
            });
        });

        $(document).on('input', '.produk-qty', function () {
            let selectedProduk = [];
            $('.produk-qty').each(function () {
                let qty = $(this).val();
                let id = $(this).data('id');
                if (qty > 0) {
                    selectedProduk.push(`${id}:${qty}`);
                }
            });
            $('#produkIds').val(selectedProduk.join(',')); // Format: "produk_id:jumlah,produk_id:jumlah"
        });

        $('#submitForm').on('submit', function () {
            let produkValue = $('#produkIds').val();
            if (!produkValue) {
                alert("Harap pilih minimal satu produk!");
                return false;
            }
        });
    });
</script>
</body>
</html>